<div class="container">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-end">
      <img src="../assets/download.jpeg" alt="">
    </div>
    
  </div>
  <div class="row bl">
    <div class="col-lg-12">
      <a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/210704/af3cc1e7e460b46b3f18df8f344ef3f5.png" alt="pokemon-font" border="0"></a>
    </div>
    <div class="col-2" *ngFor="let p of gen1">
      <img src={{p.sprites.front_default}} alt="">
      <p>{{p.name}}</p>
    </div>
  </div>
  <div class="row bl">
    <div class="col-lg-12">
      <a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/210704/92807452bb91e9f9971182699d28d3ab.png" alt="pokemon-font" border="0"></a>
    </div>
    <div class="col-2" *ngFor="let p of gen2">
      <img src={{p.sprites.front_default}} alt="">
      <p>{{p.name}}</p>
    </div>
  </div>
  <div class="row bl">
    <div class="col-lg-12">
      <a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/210704/995406263a1e3b70ee6ea5e90c00b4ab.png" alt="pokemon-font" border="0"></a>
    </div>
    <div class="col-2" *ngFor="let p of gen3">
      <img src={{p.sprites.front_default}} alt="">
      <p>{{p.name}}</p>
    </div>
  </div>
  <div class="row bl">
    <div class="col-lg-12">
      <a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/210704/d2102481fe74db67ad00901420f32cd2.png" alt="pokemon-font" border="0"></a>
    </div>
    <div class="col-2" *ngFor="let p of gen4">
      <img src={{p.sprites.front_default}} alt="">
      <p>{{p.name}}</p>
    </div>
  </div>
  <div class="row bl">
    <div class="col-lg-12">
      <a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/210704/6c141d30425f8b46264136ebf836a5b7.png" alt="pokemon-font" border="0"></a>
    </div>
    <div class="col-2" *ngFor="let p of gen5">
      <img src={{p.sprites.front_default}} alt="">
      <p>{{p.name}}</p>
    </div>
  </div>
  <div class="row bl">
    <div class="col-lg-12">
      <a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/210704/5806f6b9524d613b438ab5d560fc5d30.png" alt="pokemon-font" border="0"></a>
    </div>
    <div class="col-2" *ngFor="let p of gen6">
      <img src={{p.sprites.front_default}} alt="">
      <p>{{p.name}}</p>
    </div>
  </div>
  <div class="row bl">
    <div class="col-lg-12">
      <a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/210704/a99301e26a12ec9ac2bd5a804a565f07.png" alt="pokemon-font" border="0"></a>
    </div>
    <div class="col-2" *ngFor="let p of gen7">
      <img src={{p.sprites.front_default}} alt="">
      <p>{{p.name}}</p>
    </div>
  </div>
  <div class="row bl">
    <div class="col-lg-12">
      <a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/210704/cf4c8907e9a5b25ee6948bad3c2bfe47.png" alt="pokemon-font" border="0"></a>
    </div>
    <div class="col-2" *ngFor="let p of gen8">
      <img src={{p.sprites.front_default}} alt="">
      <p>{{p.name}}</p>
    </div>
  </div>
</div>