<div class="container">
  <div class="row pb-5">
    <div class="col-lg-12 d-flex justify-content-end">
      <button class="btn" (click)="defaultMon()"><img src="../assets/download.jpeg" alt=""></button>
    </div>
    <div class="col-2">
      <button class="btn" (click)="fiterCaught()"><img
          src="https://fontmeme.com/permalink/210712/8dd34089917cacc83e480447fdeab783.png" alt="pokemon-font"
          border="0"></button>
      <h1>{{caught}}</h1>
    </div>
    <div class="col-2">
      <button class="btn" (click)="filterSeen()"><img
          src="https://fontmeme.com/permalink/210712/dde7a20dc647932a1e6ed98c0801904a.png" alt="pokemon-font"
          border="0"></button>
      <h1>{{seen}}</h1>
    </div>
    <div class="col-1">
      <p class="d-flex justify-content-end">Search</p>
    </div>
    <div class="col-1">
      <input type="text" (keypress)="filterSearch($event)">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-2" *ngFor="let p of pokeMon; let i = index;" (click)="open(content, i)">
          <p>{{p.modalName}}</p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title pr-5">{{monOBJ.pokedexNum}}/400</h4>
      <h4 class="modal-title" id="modal-basic-title">{{monOBJ.modalName}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-5">
          <img src={{monOBJ.img}} alt="" width="100%">
        </div>
        <div class="col-5">
          <p>{{monOBJ.type}}</p>
          <p>{{monOBJ.evolution}}</p>
          <p>{{monOBJ.location}}</p>
          <div [innerHTML]="monOBJ.baseStats"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer  d-flex justify-content-center">
      <div class="row">
        <div class="col-6">
          <button type="button" class="btn btn-outline-dark">Caught</button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-outline-dark">Seen</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>